body{
    background-image: url("login_and_registr_img.jpg");
    background-attachment: fixed;
}

#video_contaner{
    margin-right: 50px
}

#main_contaner{
    display: flex;
    justify-content: end;
    margin-top: 300px
}

#form_cantaner{
    margin-top: 50px;
    margin-right: 120px;
}

#form_cantaner h1{
    text-align: center;
    font-family: fantasy;
    font-weight: bold;
    letter-spacing: 1px
}

#form_cantaner .login_input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#form_cantaner .login_input input{
    width: 400px;
    height: 30px;
    margin-top: 10px;
    font-size: 22px;
    font-family: serif;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0);
    border: solid black;
    border-radius: 10px
}

#form_cantaner .login_input div{
    text-align: center;
    margin-top: 10px;
    font-size: 26px;
    font-family: fantasy;
    font-weight: bold
}

#form_cantaner .option_cantaner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
    margin-top: 10px;
    font-size: 26px;
    font-family: fantasy;
    font-weight: bold;
}

#form_cantaner .btn_cantaner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#form_cantaner .submit_btn{
    margin-top: 20px;
    margin-left: 30px
}

#form_cantaner .submit_btn button{
    background-color: rgba(255, 255, 255, 0);
    width: 130px;
    height: 62px;
    background-image: url("btn_registr.png");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
    border: none
}

#form_cantaner .btn_cantaner button:hover, button:focus{
    background-color: #ffffff21;
    background-color: #00000031;
    cursor: pointer;
}

#form_cantaner .oauth2_button{
    margin-top: 20px;
    margin-left: 30px;
}

#form_cantaner .oauth2_button button{
    background-color: rgba(0, 0, 0, 0);
    width: 130px;
    height: 62px;
    background-image: url("vk_btn.png");
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
    border: none
}

.errors{
    display: block;
    position: absolute;
    top: 100px;
    left: 0px
}

.errors li{
    color: rgb(128, 0, 0);
    font-size: 26px;
    font-family: fantasy;
    width: 600px
}