.main_header_contaner{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    display: flex;
    justify-content: space-between;
    background-image: url("blog_header_img.png");
    height: 90px;
    width: 100%
}

.dropdown_menu {
    position: absolute;
    right: 0;
    margin: 20px
}

.drop_btn {
    cursor: pointer;
}

.drop_btn:hover, .drop_btn:focus {
    border-radius: 8px;
    background-color: #676768;
}

.menu_list {
    display: none;
    position: fixed;
    right: 8px;
    background-color: #474747;
    min-width: 160px;
    overflow: auto;
    z-index: 1;
}

.menu_list a {
    font-family: fantasy;
    font-size: 20px;
    color:gold;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu_list a:hover {
    background-color: #ddd
}

.show {
    display: block
}