html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-image: url("blog_img.jpeg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

#main_contaner{
    min-height: 819px;
    flex: 1 0 auto;
}

#articles_contaner{
    margin-bottom: 100px;
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#articles_contaner .article:first-child{
    margin-top:120px;
}

.text_block_article{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    position:relative;
    color: gold;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

#about{
    flex: 1 0 auto;
}

#link{
    flex: 0 0 auto;
}

.article{
    display: flex;
    justify-content: start;
    padding: 5px;
    border-radius: 8px;
    margin: 20px;
    background: linear-gradient(rgba(0, 0, 0, 0.935), rgba(80, 80, 80, 0.965), rgba(0,0,0,0.935));
}

.text_block_article a{
    bottom: 30px;
    color: gold;
}

.pages_contaner{
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
}

.pages_contaner a{
    color: gold;
    font-size: 24px;
    padding: 0px 4px 0px 0px;
}

.pages_contaner a:hover, a:visited{
    color: rgb(255, 81, 0);
}

.footer {
    flex: 0 0 auto;
    width: 100%;
    height: 100px;
}