html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: url("article_img.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#main_contaner{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 0px 50px 0px 50px;
    flex: 1 0 auto;
    margin-top: 100px;
    margin-bottom: 90px;
    background-color: rgba(80, 80, 80, 0.465);
    border-radius: 10px;
    word-wrap: break-word;
}

#header{
    text-align: left;
    margin-bottom: 0px;
    margin-top: 60px;
    color: gold;
    padding: 4px 10px 0px 10px;
}

#date{
    text-align: left;
    margin-top: 0px;
    color: gold;
    padding: 4px 10px 0px 10px;
}

#full_text{
    padding: 4px 10px 0px 10px;
    font-size: 20px;
    text-align: justify;
    margin-bottom: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: gold
}

#btn_contaner{
    display: flex;
    justify-content: space-between;
    padding: 4px 10px 0px 10px;
}

#btn_contaner h3{
    font-family: fantasy;
    letter-spacing: 1mm;
    color: gold
}

#btn_contaner button{
    border-radius: 10px;
    border-color: rgba(240, 255, 255, 0.267);
    background-color: rgba(142, 156, 20, 0.452);
}

#btn_contaner button:hover{
    cursor: pointer;
    background-color: rgba(255, 217, 0, 0.356);
}

.footer {
    flex: 0 0 auto;
    width: 100%;
    height: 100px;
    margin-top: 20px;
}