<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Сборник фитнес статей</title>
    <link rel="stylesheet" th:href="@{/add_page/add_style.css}">
    <script src="https://cdn.ckeditor.com/4.20.1/standard/ckeditor.js"></script>
  </head>
  <body>
    <header th:insert="blocks/header::header"></header>
    <div id="main_contaner">
      <h1>Добавление статьи</h1>
      <form enctype="multipart/form-data" method="post" th:action="@{/add}">
        <div id="header_contaner">
          <h2>Заголовок статьи</h2>
          <input type="text" name="title">
        </div>
        <div id="image_contaner">
          <h2>Изображение статьи (.jpg, .png, .jpeg)</h2>
          <input type = "file" class = "form-control" th:value="${uploadFile}" accept="image/jpeg, image/jpg, image/png">
        </div>
        <div id="anons_contaner">
          <h2>Анонс статьи</h2>
          <input type="text" name="anons">
        </div>
        <div id="fulltext_contaner">
          <h2>Текст статьи</h2>
          <textarea name="fullText"></textarea>
        </div>
        <div>
          <button type="submit">
            <h2>Создать статью</h2>
          </button>
        </div>
      </form>
    </div>
    <div id="footer" th:insert="blocks/footer::footer"></div>
    <script>
      CKEDITOR.replace('fullText');
    </script>
  </body>
</html>