<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Сборник фитнес статей</title>
        <link rel="stylesheet" th:href="@{/blog_page/blog_style.css}">
    </head>
    <body>
        <header th:insert="blocks/header::header"></header>
        <div id="articles_contaner">
            <div class="article">
                <img th:src="@{/blog_page/kaban.png}">
                <div class="text_block_article">
                    <h3>Заголовок</h3>
                    <p>Анонс статьи</p>
                    <a>Детальнее</a>
                </div>
            </div>
        </div>
        <div th:insert="blocks/footer::footer"></div>
    </body>
</html>