<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Сборник спортивных статей</title>
        <link rel="stylesheet" th:href="@{/general/general_style.css}">
        <header th:insert="blocks/header::header"></header>
    </head>
    <body>
        <div class="main_contaner">
            <div class="about_site">
                <h3>О чем этот сайт:</h3>
                Этот сайт создан чисто в учебных целях,
                имеет ограниченный функционал и является
                объединением двух хобби: спорт и бэк разработка.
                На сайте имеется на данный момент около 29-ти
                статей, к сожалению не все статьи имеют ссылку
                на первоисточник и исследовании (затерялись в процессе).
                Может быть, но не это не точно, сайт будет обновляться.
            </div>
            <div class="header_contaner">
                <h3>Последние добавленные статьи:</h3>
            </div>
            <div class="article_container">
                <button class="tablinks" id="first_btn"></button>
                <button class="tablinks" id="second_btn"></button>
                <button class="tablinks" id="third_btn"></button>
                <div th:each="article : ${threePostForGeneral}">
                    <div th:id="'art_' + ${threePostForGeneral.indexOf(article)}" class="tabcontent">
                        <h3 th:text="${article.title}"></h3>
                        <p th:text="${article.anons}"></p>
                        <a th:href="@{'/blog/' + ${article.id}}">Детальнее</a>
                    </div>
                </div>
            </div>
        </div>
        <script th:src="@{/general/article_from_general.js}"></script>
    </body>
    <div id="footer" th:insert="blocks/footer::footer"></div>
</html>