<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Сборник спортивных статей</title>
        <link rel="stylesheet" th:href="@{/general/general_style.css}">
        <header th:insert="blocks/header::header"></header>
    </head>
    <body>
        <div class="main_contaner">
            <div class="video_contaner">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/i6z3vcbIOn0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/O7DgU_2ucUE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="article_container">
                <button class="tablinks" id="first_btn">London</button>
                <button class="tablinks" id="second_btn">Paris</button>
                <button class="tablinks" id="third_btn">Tokyo</button>
                <div id="London" class="tabcontent">
                    <h3>London</h3>
                    <p>London is the capital city of England.</p>
                  </div>
                  <div id="Paris" class="tabcontent">
                    <h3>Paris</h3>
                    <p>Paris is the capital of France.</p>
                  </div>
                  <div id="Tokyo" class="tabcontent">
                    <h3>Tokyo</h3>
                    <p>Tokyo is the capital of Japan.</p>
                  </div>
            </div>
        </div>
        <script th:src="@{/general/article_from_general.js}"></script>
        <div th:insert="blocks/footer::footer"></div>
    </body>
</html>