<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>Сборник фитнес статей</title>
        <link rel="stylesheet" th:href="@{/more/article_style.css}">
    </head>
    <body>
        <header th:insert="blocks/header::header"></header>
        <div id="main_contaner" th:object="${article}">
            <h1 id="header" th:text="*{title}">Заголовок</h1>
            <p id="date" th:text="*{publicationDate}">Дата статьи</p>
            <div id="full_text"  th:utext="*{fullText}">Текст статьи</div>
            <div id="btn_contaner">
                <form th:action="@{'/blog/' + *{id} + '/redact'}" method="get">
                    <button sec:authorize="hasRole('ROLE_ADMIN')" type="submit">
                        <h3>Редактировать</h3>
                    </button>
                </form>
                <form th:action="@{'/blog/' + *{id} + '/delete'}" method="post">
                    <button sec:authorize="hasRole('ROLE_ADMIN')" type = "submit">
                        <h3>Удалить</h3>
                    </button>
                </form>
            </div>
        </div>
        <div id="footer" th:insert="blocks/footer::footer"></div>
    </body>
</html>