<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Сборник фитнес статей</title>
    <link rel="stylesheet" th:href="/redact/redact.css">
  </head>
  <body>
    <header th:insert="blocks/header::header"></header>
    <div id="main_contaner">
      <h1>Редактирование статьи</h1>
      <form method="post" th:oject="${article}" th:action="@{'/blog/' + $article.id + '/redact'}">
        <div id="header_contaner">
          <h2>Заголовок статьи</h2>
          <input type="text" name="title" th:value="*{title}">
        </div>
        <div id="anons_contaner">
          <h2>Анонс статьи</h2>
          <input type="text" name="anons" th:value="*{anons}">
        </div>
        <div id="fulltext_contaner">
          <h2>Текст статьи</h2>
          <textarea name="fullText" th:value="*{fulltext}"></textarea>
        </div>
        <div>
          <button type="submit">
            <h2>Обновить статью</h2>
          </button>
        </div>
      </form>
    </div>
    <div th:insert="blocks/footer::footer"></div>
  </body>
</html>