#main_contaner{
    display: flexbox;
    flex-direction: column;
    margin-bottom: 100px;
    margin-top: 100px;
}

#main_contaner h1, #header_contaner, #image_contaner, #anons_contaner, button{
    margin-left: 600px;
}

body{
    background-image: url("add_img.jpg");
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    margin: 0
}

#footer {
    position: relative;
    margin: -1;
}

#main_contaner input{
    color: gold;
    width: 650px;
    height: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    border-color: rgba(240, 255, 255, 0.267);
    background-color: rgba(255, 217, 0, 0.356);
}

#fulltext_contaner{
    margin-left: 350px;
    width: 1200px;
    min-height: 250px;
    padding-bottom: 20px;
}

#fulltext_contaner h2{
    margin-left: 250px;
}

#main_contaner h1{
    color: gold;
    font-family: fantasy;
}

#main_contaner h2{
    color: gold;
    font-family: fantasy;
    letter-spacing: 0.2mm;
}

#main_contaner button{
    margin-top: 20px;
    cursor: pointer;
    background-color: rgba(255, 217, 0, 0.356);
    border-radius: 10px;
    letter-spacing: 0.2mm;
    border-color: rgba(240, 255, 255, 0.267);
    background-color: rgba(142, 156, 20, 0.082);
}

#main_contaner button:focus{
    cursor: pointer;
}

#main_contaner button:hover{
    background-color: rgba(240, 255, 255, 0.137);
}

#image_contaner input{
    color: gold;
    width: 658px;
    height: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    background-color: rgba(255, 217, 0, 0.356);
    border-color: rgba(240, 255, 255, 0.267);
}

#main_contaner #image_contaner input{
    height: 32px;
    width: 652px;
    border: solid;
    border-color: rgba(240, 255, 255, 0.267);
}